@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
Media Queries
0 - 600
600 - 900
900 - 1200
1200 - 1800
1800+
Breakpoint argument choices: 
phone
tab-port
tab-hor
big-desktop */
/*1em = 16px
37.5em = 600px
56.25em = 900px
75em = 1200px
112.5em = 1800px
*/
@mixin responsive($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {@content};
    }
    @if $breakpoint==tab-por {
        @media (max-width: 56.25em) {@content};
    }
    @if $breakpoint==tab-land {
        @media (max-width: 75em) {@content};
    }
    @if $breakpoint==big-desktop {
        @media (max-width: 112.5em) {@content};
    }
}

