*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //1rem = 10px setting
    font-size: 62.5%;
    
    @include responsive(big-desktop){
        //1rem = 12px
        font-size: 75%;
    }
    @include responsive(tab-land){
        //1rem = 9px
        font-size: 56.25%;
    }
    @include responsive(tab-por){
        /*1rem=8px 8/16*100 = 50%*/
        font-size: 50%;
    }
    // @include responsive(phone) {
    //     // font-size: 50%;
    // }
    
        
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 3rem;
    @include responsive(tab-por){
        padding:0;
    }
}

::selection{
    background-color: $color-primary;
    color: $color-white;
}